SDKS="iphoneos5.0 iphonesimulator5.0" 

CONFIGURATIONS="Release"

XIBS=""

HEADERS="ANetApiRequest.h
	ANetApiResponse.h
	AuthNet.h
	AuthNetMessage.h
	AuthNetRequest.h
	AuthNetResponse.h 
	BankAccountType.h
	BankAccountMaskedType.h
	BatchDetailsType.h
	BatchStatisticType.h
	CCAuthenticationType.h
	CreditCardType.h
	CreditCardMaskedType.h
	CreditCardTrackType.h
	CustomerAddressType.h
	CustomerDataType.h
	Error.h
	ExtendedAmountType.h
	FDSFilterType.h
	LineItemType.h
	MerchantAuthenticationType.h
	MerchantContactType.h
	Messages.h
	MobileDeviceType.h
	NameAndAddressType.h
	OrderType.h
	OrderExType.h
	PaymentType.h
	PaymentMaskedType.h
	PermissionType.h
	SplitTenderPayment.h
	TransRetailInfoType.h
	TransactionDetailsType.h
	TransactionRequestType.h
	TransactionResponse.h
	TransactionSummaryType.h
	SettingType.h
	UserField.h
	NSString+stringWithEscapedXMLValue.h
	NSString+stringWithEscapedXMLValue.m
	NSString+stringWithXMLTag.h
	NSString+stringWithXMLTag.m
	NSString+stringValueOfXMLElement.h
	NSString+stringValueOfXMLElement.m
	NSString+dataFromFilename.h
	NSString+dataFromFilename.m
	GDataXMLNode.h
	GDataXMLNode.m
	LogoutRequest.h
	LogoutResponse.h
	CreateTransactionRequest.h
	CreateTransactionResponse.h
	GetBatchStatisticsRequest.h
	GetBatchStatisticsResponse.h
	GetSettledBatchListRequest.h
	GetSettledBatchListResponse.h
	GetTransactionDetailsRequest.h
	GetTransactionDetailsResponse.h
	GetTransactionListRequest.h
	GetTransactionListResponse.h
	GetUnsettledTransactionListRequest.h
	GetUnsettledTransactionListResponse.h
	MobileDeviceLoginRequest.h
	MobileDeviceLoginResponse.h
	MobileDeviceRegistrationRequest.h
	MobileDeviceRegistrationResponse.h
	SendCustomerTransactionReceiptRequest.h
	SendCustomerTransactionReceiptResponse.h"

IMAGES=""
